#purple_bar{
    position:fixed;
    left:0px;
    width: 10px;
    height:1000px;
    background: #9A8BD2;
}

.fa {
  position: :absolute;
  center:0px;
  padding: 10px;
  font-size: 20px;
  width: 20px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #000000;
  color: white;
}

.fa-twitter {
  background: #000000;
  color: white;
}


.fa-youtube {
  background: #000000;
  color: white;
}

.fa-instagram {
  background: #000000;
  color: white;
}


.fa-snapchat-ghost {
  background: #000000;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.fa-skype {
  background: #00aff0;
  color: white;
}

.fa-android {
  background: #a4c639;
  color: white;
}

.fa-dribbble {
  background: #ea4c89;
  color: white;
}

.fa-vimeo {
  background: #45bbff;
  color: white;
}

.fa-tumblr {
  background: #2c4762;
  color: white;
}

.fa-vine {
  background: #00b489;
  color: white;
}

.fa-foursquare {
  background: #45bbff;
  color: white;
}

.fa-stumbleupon {
  background: #eb4924;
  color: white;
}

.fa-flickr {
  background: #f40083;
  color: white;
}

.fa-yahoo {
  background: #430297;
  color: white;
}

.fa-soundcloud {
  background: #ff5500;
  color: white;
}

.fa-reddit {
  background: #ff5700;
  color: white;
}

.fa-rss {
  background: #ff6600;
  color: white;
}


img {
  margin: auto;
  width: 100%;
}
body {
    position: absolute;
    left: 150px;
    top:150px:
    text-align: justify;
    margin: auto;
    width: 30%;
    background-color: #fff;
    color: #ababab;
    font-family: VCR, Courier New, Courier, Lucida Sans Typewriter, Lucida Typewriter, monospace;
    font-size: 14px;
    text-transform: uppercase
}

footer {
  padding: 100px;
  margin: auto;
  width: 50%;
}
